<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:component-scan base-package="com.mancondome.local.cloud"/>

	<bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations" value="classpath:**.properties"/>
	</bean>
	<context:property-placeholder properties-ref="properties" />

	<!-- View -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true"/>
		<property name="suffix" value=".ftl"/>
		<property name="contentType" value="text/html; charset=UTF-8"/>
	</bean>
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/views/"/>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- Validator -->
	<bean id="beanValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
	<mvc:annotation-driven validator="beanValidator"/>

	<!-- Resources -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/favicon.ico" location="/favicon.ico" />
	<mvc:view-controller path="/error/400" />
	<mvc:view-controller path="/error/404" />
	<mvc:view-controller path="/error/500" />

	<!-- Logger -->
	<bean id="logger" class="org.eclipse.jetty.util.log.Slf4jLog">
		<constructor-arg type="java.lang.String" name="name" value="DEFAULT"/>
	</bean>


	<!-- Filter -->

</beans>
